
   

body, html {
    margin: 0;
    padding: 0;
    height: 142%;
    overflow: auto;
     background-color: #1c1c1c;
    color: #ffff;
    font-family: monospace;
    padding: 60px;
  }
  
  #fullscreen-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }

  #background-image {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width:  50%;
    height: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Estilos para a sobreposição de vídeo e botões de navegação */
  .video-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .navigation ul li {
    margin-right: 10px;
  }
  
  .navigation ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    position: relative;
    width: 300px; /* Ajuste o tamanho conforme necessário */
  }
  
  .texto-escondido {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }
  .imagem {
    width: 200px; /* Largura desejada da imagem */
    height: 200px; /* A altura será ajustada proporcionalmente */
  }

  /* estilização da barra de scroll */
  ::-webkit-scrollbar {
    width: 0px;
  }
